/* 
-- Responsive Breakpoints
sm: 640px - mobile phone size
md: 768px - Tablet size
lg: 1024px - Laptop standard size
xl: 1280px -- larger wide desktop size
*/

/* Reusable Styles */
@import "button.css";
@import "card.css";

/* Section Styles */
@import "navbar.css";
@import "hero-banner.css";
@import "services.css";
@import "contact.css";
@import "submission.css";
@import "footer.css";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  overflow-x: hidden;
}

.favicon{
  position:absolute;
  top: -80px;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}

body {
background-color:#fef8ff;
}

h1,h2,h3 {
  color: #7d68a2;
}
